<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <a class="navbar-brand font-weight-bold" routerLink="/books">TURN THE PAGE</a>
  <button (click)="isOpen = !isOpen" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" [attr.aria-expanded]="isOpen" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/books" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        (click)="isOpen = !isOpen">Books</a>
      <a class="nav-item nav-link" routerLink="/books/new" routerLinkActive="active" (click)="isOpen = !isOpen">Create
        New Book</a>
    </div>
  </div>
</nav>
