.error-container {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-image {
  text-align: center;
}

.error-image img {
  width: 80%;
}

@media (max-width: 767.98px) {
  .error-content {
    margin-top: 20px;
    text-align: center;
  }

  h2 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9rem;
  }
}
